<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Catnip List</title>
</head>
<body>
<div id="catnip-list" th:fragment="catnipList">
  <div th:each="catnip : ${newPage.content}">
    <p th:text="${catnip.id}"></p>
  </div>

  <div class="pagination-container">
    <button class="pagination-button"
            th:classappend="${newPage.number == 0} ? 'disabled-pagination-button'"
            th:attr="hx-get=@{catnip/list(page=0)}"
            hx-target="#catnip-list"
    ><<
    </button>
    <button class="pagination-button"
            th:classappend="${newPage.number == 0} ? 'disabled-pagination-button'"
            th:attr="hx-get=@{catnip/list(page=${newPage.number - 1})}"
            hx-target="#catnip-list"
    ><
    </button>
    <th:block th:each="i : ${#numbers.sequence(paginationRange.start, paginationRange.end)}">
      <button class="pagination-button"
              th:classappend="${i == newPage.number} ? 'current-page'"
              th:attr="hx-get=@{catnip/list(page=${i})}"
              hx-target="#catnip-list"
              th:disabled="${i == newPage.number}"
              th:text="${i + 1}">1</button>
    </th:block>
    <button class="pagination-button"
            th:classappend="${newPage.number == newPage.totalPages - 1} ? 'disabled-pagination-button'"
            th:attr="hx-get=@{catnip/list(page=${newPage.number + 1})}"
            hx-target="#catnip-list"
    >>
    </button>
    <button class="pagination-button"
            th:classappend="${newPage.number == newPage.totalPages - 1} ? 'disabled-pagination-button'"
            th:attr="hx-get=@{catnip/list(page=${newPage.totalPages - 1})}"
            hx-target="#catnip-list"
    >>>
    </button>
  </div>
  <div th:if="${#lists.isEmpty(newPage.content)}">
    <p>No catnip available</p>
  </div>
</div>

</body>
</html>