<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
  <title>Log In</title>
</head>
<body>
<div id="authentication-form" th:fragment="loginForm">
  <form th:action="@{/login}" method="post" th:object="${loginRequest}">
    <label>
      <input type="text" th:field="*{email}" placeholder="Email"/>
    </label>
    <label>
      <input type="password" th:field="*{password}" placeholder="Password"/>
    </label>
    <input type="submit" value="Log in"/>
  </form>
</div>
<div>
  <a hx-get="/register"
     hx-target="authentication-form"
  >Register?</a>
</div>
</body>
</html>